<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bundles/game/js/digital_clock.js') }}"></script>
        <link href="{{ asset('bundles/game/css/digital-clock.css') }}" rel="stylesheet" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://bitstorm.org/jquery/color-animation/jquery.animate-colors-min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
