{% extends 'base.html.twig' %}

{% block body %}
	{% for cell in cells %}
		<a href="#" onclick="changeСolor({{ cell.height }}, {{ cell.width }})">
			<div class="square" id="cell_{{ cell.height }}_{{ cell.width }}">
				<div class="content">
					<div class="table">
						<div class="table-cell" id="red">

						</div>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}

	<div style="text-align:  center;color: #1E1E1E"> Количество ходов:
		<div id="countClick" class="time" style="margin-left: 120px"></div>
	</div>

	<div id="modal_form">
		<span id="modal_close">X</span>
		<form action="/save" method="post">
			<h3>ВЫ ВЫЙГРАЛИ</h3>
			<p>Ваше имя<br/>
				<input type="text" name="name" value="" size="40" id="player_name"/>
			</p>
			<p style="text-align: center; padding-bottom: 10px;">
				<input type="submit" value="Отправить"/>
			</p>
		</form>
	</div>
	<div id="overlay"></div>

{% endblock %}

{% block stylesheets %}
	<style>

		.square {
			float: left;
			position: relative;
			width: 15%;
			padding-bottom: 15%; /* = width for a 1:1 aspect ratio */
			margin: 1.66%;
			background-color: #1E1E1E;
			overflow: hidden;
		}

		.content {
			position: absolute;
			height: 40%; /* = 100% - 2*5% padding */
			width: 40%; /* = 100% - 2*5% padding */
			padding: 5%;

		}

		.table {
			display: table;
			width: 100%;
			height: 100%;
			text-align: center;
		}

		.table-cell {
			display: table-cell;
			vertical-align: middle;
		}

		#wrapper {
			width: 450px;
			margin: 0 auto;
			text-align: left;
		}

		body {
			font-size: 20px;
			font-family: 'Lato', verdana, sans-serif;
			color: #fff;
			text-align: center;
			background: #ECECEC;
			text-align: center;

		}

		#modal_form {
			width: 300px;
			height: 150px; /* Размеры должны быть фиксированы */
			border-radius: 5px;
			border: 3px #000 solid;
			background: #fff;
			position: fixed; /* чтобы окно было в видимой зоне в любом месте */
			top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
			left: 50%; /* половина экрана слева */
			margin-top: -150px;
			margin-left: -150px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
			display: none; /* в обычном состоянии окна не должно быть */
			opacity: 0; /* полностью прозрачно для анимирования */
			z-index: 5; /* окно должно быть наиболее большем слое */
			padding: 20px 10px;
			color: black;
		}

		/* Кнопка закрыть для тех кто в танке) */
		#modal_form #modal_close {
			width: 21px;
			height: 21px;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			display: block;
		}

		/* Подложка */
		#overlay {
			z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
			position: fixed; /* всегда перекрывает весь сайт */
			background-color: #000; /* черная */
			opacity: 0.8; /* но немного прозрачна */
			width: 100%;
			height: 100%; /* размером во весь экран */
			top: 0;
			left: 0; /* сверху и слева 0, обязательные свойства! */
			cursor: pointer;
			display: none; /* в обычном состоянии её нет) */
		}
	</style>

	<script type="text/javascript">
		window.onload = function () {
			initCount('000');

			$('#modal_close, #overlay').click(function () {
				$('#modal_form')
						.animate({opacity: 0, top: '45%'}, 200,
								function () {
									$(this).css('display', 'none');
									$('#overlay').fadeOut(400);
								}
						);
			});
		}



		function win() {
			$('#overlay').fadeIn(400,
					function () {
						$('#modal_form')
								.css('display', 'block')
								.animate({opacity: 1, top: '50%'}, 200);
					});
		}
		/**
		 *
		 * @param height
		 * @param width
		 */
		function changeСolor(height, width) {

			var block = $('#cell_' + height + '_' + width);
			block.animate({backgroundColor: 'blue'});

			$.post("/play", {'height': height, 'width': width}, function (data) {

				if (data.win === true) {
					win();
				}

				if (data.playeWin !== false){
					$('#player_name').val(data.playeWin);
				}

				var cells = data.cells;
				var countClick = data.countClick;
				var i, j;
				for (i = 0; i < 5; ++i) {
					for (j = 0; j < 5; ++j) {
						if (cells[i][j] == 1) {
							$('#cell_' + i + '_' + j).animate({backgroundColor: 'blue'});
						} else {
							$('#cell_' + i + '_' + j).animate({backgroundColor: '#1E1E1E'});
						}
					}
				}
				$('#countClick').text('');
				initCount(countClick);
			});
		}
	</script>

{% endblock %}
